<header class="fixed top-0 left-0 z-100 w-full p-10">
  <div class="header-wrapper flex h-44 min-h-[44px] items-center justify-between rounded-lg px-10 font-bold text-12 text-grey-40 uppercase md:px-20">
    <a class="group relative items-center appearance-none cursor-pointer overflow-clip disabled:pointer-events-none pointer-events-auto focus-visible:outline-2 outline-black outline-offset-4 inline-block h-30" href="{{ routes.root_url }}">
      <picture class="[&>img]:h-full [&>img]:w-auto">
        {% if section.settings.logo != blank %}
          <img class="block w-full object-cover" alt="{{ section.settings.logo.alt | default: shop.name | escape }}" src="{{ section.settings.logo | image_url: height: 60 }}" loading="lazy" decoding="async" height="30"/>
        {% else %}
          <span style="color: black;">{{ shop.name }}</span>
        {% endif %}
      </picture>
    </a>
    <div class="header-title flex items-center gap-16">
      <span id="product-display-title" class="font-bold text-12 uppercase tracking-wide text-black transition-opacity duration-300"></span>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    }
  ]
}
{% endschema %}